<!DOCTYPE html>
<html>
  <head>
    <title><%= titles %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titles %></h1>
    <p>Welcome to <%= titles %></p>
  </body>
</html>




